<% include ../partials/header %>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <form method="post">
                <div class="jumbotron">
                    <h1><%= posts.title %> </h1>
                    <p>
                      <h4>Film<%= posts.movie_title %></strong></h4>
                      
                      <%= posts.contentPost %> 
                    </p>
                    

                    <div class="media">
                        <div class="media-left">
                          <a href="#">
                            <Img class="media-object" src="<%= posts.imdbInfo.Poster %>" style="width: 200px; margin-right: 15px;"/>
                          </a>
                        </div>
                        <div class="media-body">
                          <h4 class="media-heading"> imdbInfo: </h4>
                         <strong>Title: </strong> <%= posts.imdbInfo.Title %> <br>
                         <strong>Year: </strong> <%= posts.imdbInfo.Year %> <br>
                         <strong>Rated: </strong> <%= posts.imdbInfo.Rated %> <br>
                         <strong>Released: </strong> <%= posts.imdbInfo.Released %> <br>
                         <strong>RunTime: </strong> <%= posts.imdbInfo.RunTime %> <br>
                         <strong>Genre: </strong> <%= posts.imdbInfo.Genre %> <br>
                         <strong>Director: </strong> <%= posts.imdbInfo.Director %> <br>
                         <strong>Write: </strong> <%= posts.imdbInfo.Write %> <br>
                         <strong>Actors: </strong> <%= posts.imdbInfo.Actors %> <br>
                        </div>
                      </div>
                      <br>
                      <blockquote>
                          <footer><cite title="Source Title"><%= posts.imdbInfo.Plot %></cite></footer>
                      </blockquote>

                    <blockquote>
                        <footer>Posta em <cite title="Source Title"><%= posts.criadoEm %></cite></footer>
                    </blockquote>
                    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
                </div>
              
              <div class="form-group">
                <label>Nome</label>
                <input type="text" id="author" name="author">
                
                <textarea class="form-control" id="content" aria-describedby="namelHelp" placeholder="Deixe algum comentario" name="content"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
            <% posts.comments.map(c => { %> 
              
              <div class="card"> 
                <h5><%= c.author %></h5>
                <p><%= c.content %></p>
                <blockquote>
                    <footer>Posta em <cite title="Source Title"><%= new Date(c.createdAt).toLocaleString('en-GB', { timeZone: 'UTC' }) %></cite></footer>
                </blockquote>
              </div>
            <% }) %>
          </div>
        </div>
      </div>
    </section>

<% include ../partials/footer %>