<% include ../partials/header %>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
           
            <p class="lead">Lista de Posts  <a href="/nova" class="btn btn-info">Novo Post</a> </p>
           
            <% results.data.forEach( post => { %>

              <div class="media">
                  <div class="media-body">
                    <h4 class="media-heading">
                      <a href="/info/<%= post._id %>"> <%= post.title %> </a> 
                    </h4>
                    <h6>
                        <strong>
                            <%= post.movie_title %>
                        </strong>
                    </h6>
                    <p><%= post.contentPost %></p>
                    <blockquote>
                        <footer>Posta em <cite title="Source Title"><%= post.criadoEm %></cite></footer>
                    </blockquote>
                  </div>
                  <div class="media-rigth">
                    <a href="/editar/<%= post._id %>" class="btn btn-info">Editar </a>
                    <a href="/excluir/<%= post._id %>" class="btn btn-info"> Excluir</a>
                  </div>
              </div>
              <br/>
            <%  }) %>
            

            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                <% if(results.pagination.currentPage>0) { %> 
                  <a class="page-link" href="?page=<%= results.pagination.currentPage-1 %>&pageSize=<%= results.pagination.pageSize %>">Anterior</a>
                <% } %>
                </li>
                <% for(let i = 0; i<results.pagination.pages; i++) { %> 
                <li class="page-item <% if(i==results.pagination.currentPage) { %> active <% } %>">
                  <a class="page-link" href="?page=<%= i %>=&pageSize=<%= results.pagination.pageSize %>"> <%= i+1 %> </a>
                </li>
                <% } %>
                <li class="page-item">
                <% if(results.pagination.currentPage < results.pagination.pages -1) { %> 
                  <a class="page-link" href="?page=<%= results.pagination.currentPage+1 %>&pageSize=<%= results.pagination.pageSize %>">Proximo</a>
                <% } %>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section>

<% include ../partials/footer %>